<div class="proteus-whitelabeled-domains-form">
  <div class="inline">
    <%= form_for(
      [property.whitelabeled_domain, property],
      path: form_path,
      method: form_method,
      html_options: { class: "inline" }
    ) do |f| %>
      <%= f.hidden_field :id %>
      <div>
        <%= f.label :key, value: "Variable Name" %>
        <%= f.text_field :key, class: "form-control" %>
      </div>

      <div>
        <%= f.label :value %>
        <%= f.text_field :value, class: "form-control" %>
      </div>


      <% if Proteus.configuration.image_storage_engine&.to_s&.downcase == "active_storage" %>
        <div>
          <%= f.label :asset %>
          <%= f.file_field :asset, class: "form-control" %>
        </div>
      <% end %>

      <div>
        <%= f.hidden_field :type %>
        <%= f.submit nil, class: "btn btn-info" %>
      </div>
    <% end %>

    <% if property.persisted? %>
      <div>
        <%= button_to("Delete", [property.whitelabeled_domain, property], method: :delete, class: "btn btn-danger") %>
      </div>
    <% end %>
  </div>
</div>
