<div class="proteus-whitelabled-domains-form">
  <%= form_for whitelabeled_domain do |f| %>
    <div class="form-group">
      <%= f.label :host %>
      <%= f.text_field :host, class: "form-control" %>
      <small class="form-text text-muted">
        The domain you want to whitelabel.
      </small>
    </div>
    <div class="form-group">
      <%= f.label :slug %>
      <%= f.text_field :slug, class: "form-control" %>
      <small class="form-text text-muted">
        This will become the custom stylesheet name. Use only letters and
        underscores.
      </small>
    </div>

    <div class="options">
      <div class="form-group">
        <%= f.label :compile %>
        <%= f.check_box :compile, class: "form-control" %>
        <small class="form-text text-muted">
          Enable a custom stylesheet for this domain. This will add to compilation
          times.
        </small>
      </div>
      <div class="form-group">
        <%= f.label :enabled %>
        <%= f.check_box :enabled, class: "form-control" %>
        <small class="form-text text-muted">
          Disable / Enable the domain. If disabled it will raise a 404.
        </small>
      </div>
    </div>

    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to "Back", whitelabeled_domains_path, class: "btn btn-link" %>
  <% end %>

  <div class="proteus-variables">
    <div class="proteus-associated-stylesheets">
      <header>
        <h3>Associated Stylesheets</h3>
        <small>
          These are the stylesheets that need compiled for this whitelabel
          domain.
        </small>
      </header>

      <% if whitelabeled_domain.linked_stylesheet_properties.present? %>
        <% whitelabeled_domain.linked_stylesheet_properties.map do |property| %>
          <%= render(
            partial: "proteus/whitelabeled_domains/linked_stylesheet_property_form",
            locals: {
              property: property,
              form_method: :put,
              form_path: whitelabeled_domain_property_path(
                property.whitelabeled_domain,
                property
              )
            }
          ) %>
        <% end %>
      <% else %>
        <div class="empty">
          No attached stylesheets
        </div>
      <% end %>

      <footer>
        <h4>Add New Associated Stylesheet</h4>
        <%= render(
          partial: "proteus/whitelabeled_domains/linked_stylesheet_property_form",
          locals: {
            property: whitelabeled_domain.properties.build(
              type: "Proteus::LinkedStylesheetProperty"
            ),
            form_method: :post,
            form_path: whitelabeled_domain_properties_path(
              whitelabeled_domain
            )
          }
        ) %>
      </footer>
    </div>

    <div class="proteus-css-vars">
      <header>
        <h3>Sass Vars</h3>
        <small>
          Configure your Sass variables here. These will get added to the
          beginning of the whitelabel manifest prior to compiliation.
        </small>
      </header>

      <% if whitelabeled_domain.sass_properties.present? %>
        <% whitelabeled_domain.sass_properties.each do |property| %>
          <%= render(
            partial: "proteus/whitelabeled_domains/sass_property_form",
            locals: {
              property: property,
              form_method: :patch,
              form_path: edit_whitelabeled_domain_property_path(
                property.whitelabeled_domain,
                property
              )
            }
          ) %>
        <% end %>
      <% else %>
        <div class="empty">
          No configured Sass variables.
        </div>
      <% end %>

      <footer>
        <h4>Add New Sass Variable</h4>
        <%= render(
          partial: "proteus/whitelabeled_domains/sass_property_form",
          locals: {
            property: whitelabeled_domain.sass_properties.build,
            form_method: :post,
            form_path: whitelabeled_domain_properties_path(
              whitelabeled_domain
            )
          }
        ) %>
      </footer>
    </div>

    <div class="proteus-app-settings">
      <header>
        <h3>Application Settings</h3>
        <small>
          Add setting and configuration options where to utilize throughout
          the application. This can be used to extract an email such as
          contact@example.com that is different for each domain. <br />
          Note: Don't include text here. It's better to include i18n keys and
          then render the text via I18n.
        </small>
      </header>

      <% if whitelabeled_domain.app_properties.present? %>
        <% whitelabeled_domain.app_properties.each do |property| %>
          <%= render(
            partial: "proteus/whitelabeled_domains/app_property_form",
            locals: {
              property: property,
              form_method: :patch,
              form_path: edit_whitelabeled_domain_property_path(
                property.whitelabeled_domain,
                property
              )
            }
          ) %>
        <% end %>
      <% else %>
        <div class="empty">
          No app settings yet!
        </div>
      <% end %>

      <footer>
        <h4>Add New App Setting</h4>
        <%= render(
          partial: "proteus/whitelabeled_domains/app_property_form",
          locals: {
            property: whitelabeled_domain.app_properties.build,
            form_method: :post,
            form_path: whitelabeled_domain_properties_path(
              whitelabeled_domain
            )
          }
        ) %>
      </footer>
    </div>
  </div>
</div>
